<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <h1><%= @user.name %>さんの投稿編集</h1>
      <%= @list.date %>
      <%= @list.first_item %>
      <%= @list.second_item %>
      <%= @list.third_item %>
      <%= link_to "削除", admin_list_path(@list), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      
      いいね数<%= @list.favorites.count %>

      <div class = "comments">
        <%= render 'admin/lists/list_comments', list: @list %>
      </div>
    </div>
  </div>
</div>