<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <h1>投稿編集</h1>
      <%= form_with model: @list, local:true do |f| %>
        <%= f.label :日付選択 %>
        <%= f.date_field :date %>
        <%= f.label:一つ目の項目 %>
        <%= f.text_field :first_item %>
        <%= f.label:二つ目の項目 %>
        <%= f.text_field :second_item %>
        <%= f.label:三つ目の項目 %>
        <%= f.text_field :third_item %>
        <%= f.submit "保存" %>
        <%= link_to "キャンセル", list_path(@list) %>
      <% end %>
    </div>
  </div>
</div>