<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <p><%= link_to "投稿へ", new_list_path %></p>
      <h1>投稿一覧</h1>
      <% @lists.each do |list| %>
        <%= link_to list.date, list_path(list) %>
        <%= list.first_item %>
        <%= list.second_item %>
        <%= list.third_item %>
        <%= list.list_comments.count %>
        <%= list.favorites.count %>
      <% end %>
    </div>
  </div>
</div>