<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <h1>投稿詳細</h1>
      <%= @list.user.name %>
      <%= @list.date %>
      <%= @list.first_item %>
      <%= @list.second_item %>
      <%= @list.third_item %>
      <% if @list.user == current_user %>
        <%= link_to "編集", edit_list_path(@list) %>
        <%= link_to "削除", list_path(@list), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
      
     <%= render 'public/favorites/favorite-btn', list: @list %>
     
      <div class = "comments">
        <%= render 'public/lists/list_comments', list: @list %>
        <%= form_with model:[@list, @list_comment], local:true do |f| %>
          <%= f.text_area :comment %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>