<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <h1>投稿詳細</h1>
      <%= @list.user.name %>
      <%= @list.date %>
      <%= @list.first_item %>
      <%= @list.second_item %>
      <%= @list.third_item %>
      <% if @list.user == current_user %>
        <%= link_to "編集", edit_list_path(@list) %>
        <%= link_to "削除", list_path(@list), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
      
      <% if @list.favorited_by?(current_user) %>
        <%= link_to @list.favorites.count, list_favorites_path(@list), method: :delete, class: "fas fa-heart" %>
      <% else %>
        <%= link_to @list.favorites.count, list_favorites_path(@list), method: :post, class: "fas fa-heart" %>
      <% end %>
      
      <div class = "comments">
        <% @list.list_comments.each do |list_comment| %>
          <%= link_to mypage_path(list_comment.user) do %>
            <%= attachment_image_tag list_comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
            <%= list_comment.user.name %>
          <% end %>
          <%= list_comment.comment %>
          <%= list_comment.created_at.strftime('%Y/%m/%d') %>
          <% if list_comment.user == current_user %>
            <%= link_to "削除", list_list_comment_path(list_comment.list_id, list_comment.id), method: :delete %>
          <% end %>
        <% end %>
        <%= form_with model:[@list, @list_comment], local:true do |f| %>
          <%= f.text_area :comment %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>